@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;0,800;1,400;1,600&display=swap');

html{
    font-family: Nunito;
}

#nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 690px;
    /* transform: translate(0, 0); */
    transition: all 500ms linear;
}

#nav.active{
    transform: translateY(-650px);
    /* top: 50px; */
}

#div-logo{
    position: fixed;
    z-index: 99;
    bottom: 250px;
    right: 100px;
    transition: all 500ms linear;
}

#div-logo.active{
    transform: translateY(-640px);
    /* top:-25px */
}

#span-logo-left {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 109px;
    margin-right: 15px;

    color: #011D37;
    transition: all 500ms linear;
}

#span-logo-left.active{
    font-size:0;
    margin-right: 5px;
    color: #4F5152
}

.logo{
    top: -5px;
    width: 250px;
    position: fixed;
    right: 7px;
    z-index: 50;
}

#logo-left{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-right: 5px;
    color: #011D37
}

#logo-right{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-left: 5px;
    color: #018b94
}


#logo-left-gray{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-right: 5px;
    color: #4F5152
}

#logo-right-gray{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin-left: 5px;
    color: #ffffff
}


#span-logo-right {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 109px;
    margin-left: 15px;

    color: #018B94;
    transition: all 500ms linear;
}

#span-logo-right.active{
    font-size:0;
    margin-left: 5px;
    color: #FFFFFF
}

nav a{
    width: 100%;
    display: block;
    margin-top: 15px;
    margin-left: 25px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    color: #FFFFFF;
}

nav img{
    width: 20px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-item-1 {
	flex: 1;
}

.flex-start {
	justify-content: flex-start;
}

.flex-end {
	justify-content: flex-end;
}

.center {
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.space-around {
	justify-content: space-around;
}

.div-play{
    position: relative;
    margin-left: auto;
    margin-right: 30px;
    width: 45px;
}

.div-play a{
    margin-top:10px;
}

.img-play{
    padding-top: 0;
    padding-bottom: 10px;
    width: 40px;
}

#menu-left{
    left: 0;
    width: 70%;
    height: 60px;
    border-radius: 0px 100px 100px 0px;
    transition: all 500ms linear;
}

#menu-left.active{
    width: 28%;
}

#menu-right{
    right: 0;
    margin-left: 2%;
    width: 28%;
    height: 60px;
    border-radius: 100px 0px 0px 100px;
    transition: all 500ms linear;
}

#menu-right.active{
    width: 70%;
    margin-left: 2%;
}

#ul-menu{
    left: 0;
    margin-left: 0;
    list-style: none;
    display: none;
    transition: all 500ms linear;
}

#ul-menu.active{
    left: 0;
    margin-left: 0;
    list-style: none;
    display: inline-block;
}

#ul-menu li{
    display: inline-block;
}

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100vh;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

#home {
    background-image: url('../images/background-image-home.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	
}

#sobre {
    background-image: url('../images/background-image-sobre.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
	height: 100vh;
	position: fixed;
	top: 100%;
	left: 0;
    transition: all 500ms linear;
    transform: translateY(0);
}

#sobre.active{
    top: 0;
}

.sobre-div-text{
    margin-top: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.sobre-text{
    background-color: rgba(5, 5, 5, 0.9);
    height: 100vh;
}

.sobre-h1{
    font-size: 67pt;
    font-family: Nunito;
}

.sobre-h2{
    font-size: 60pt;
    font-family: Nunito;
}

.sobre-h2-55{
    font-size: 55pt;
    font-family: Nunito;
}

.sobre-p{
    font-size: 18pt;
    text-align: center;
}

.sobre-p-white{
    color: white;
    text-align: justify;
    font-size: 15pt;
}


#modelo-negocios {
    background-color:white;
    width: 100%;
	height: 100vh;
	position: fixed;
	top: 100%;
	left: 0;
    transition: all 500ms linear;
    transform: translateY(0);
}

#modelo-negocios.active{
    top: 0;
}

.modelo-negocios-div{
    margin-top: 150px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.modelo-negocios-h1{
    font-size: 40pt;
    font-family: Nunito;
}

.modelo-negocios-h2{
    font-size: 80pt;
    font-family: Nunito;
}

.modelo-negocios-h2-2{
    font-size: 60pt;
    font-family: Nunito;
}

.modelo-negocios-img{
    position: fixed;
    top: 100px;
    right: 0;
}


#parceiros {
    background-color:white;
    width: 100%;
	height: 100vh;
	position: fixed;
	top: 100%;
	left: 0;
    transition: all 500ms linear;
    transform: translateY(0);
}

#parceiros.active{
    top: 0;
}

.container-parceiros{
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

.container-parceiros h1{
    font-family: Nunito;
}

.parceiros-p{
    font-family: Nunito;
    font-size: 22pt;
    text-align: center;
}




@media (max-width: 1440px){
    
    #nav{
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 530px;
        /* transform: translate(0, 0); */
        transition: all 500ms linear;
    }

    #nav.active{
        transform: translateY(-490px);
        /* top: 50px; */
    }

    
    #div-logo.active{
        transform: translateY(-450px);
        /* top:-25px */
    }

    
.sobre-div-text{
    margin-top: 110px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.sobre-text{
    background-color: rgba(5, 5, 5, 0.9);
    height: 100vh;
}

.sobre-h1{
    font-size: 50pt;
    font-family: Nunito;
}

.sobre-h2{
    font-size: 47pt;
    font-family: Nunito;
}

.sobre-h2-55{
    font-size: 42pt;
    font-family: Nunito;
}

.sobre-p{
    font-size: 15pt;
    text-align: center;
}

.sobre-p-white{
    color: white;
    text-align: justify;
    font-size: 12pt;
}


.modelo-negocios-div{
    margin-top: 110px;
    width: 450px;
    margin-left: 20px;
    margin-right: auto;
}

.modelo-negocios-h1{
    font-size: 30pt;
    font-family: Nunito;
}

.modelo-negocios-h2{
    font-size: 50pt;
    font-family: Nunito;
}

.modelo-negocios-h2-2{
    font-size: 50pt;
    font-family: Nunito;
}

.modelo-negocios-img{
    position: fixed;
    width: 650px;
    top: 100px;
    right: 0;
}


.container-parceiros{
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.container-parceiros h1{
    font-family: Nunito;
}

.parceiros-p{
    font-family: Nunito;
    font-size: 18pt;
    text-align: center;
}

.parceiros-img{
    width: 340px;
}

}

/* iPad Pro */
@media (max-width: 1024px){
    #div-logo{
        bottom: 310px;
    }
    nav a{
        font-size: 10pt;
    }
   
    #nav{
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 1044px;
        /* transform: translate(0, 0); */
        transition: all 500ms linear;
    }

    #nav.active{
        transform: translateY(-989px);
    }

    .sobre-div-text{
        width: 600px;
    }

    .modelo-negocios-img{
        width: 480px;
        top: 120px;
    }

    .modelo-negocios-h2-2{
        font-size:30pt;

    }

    .container-parceiros{
        width: 900px;
    }

    .parceiros-img{
        width: 300px;
    }

}

/* iPad */

@media (max-width: 768px){
         
    #nav{
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 700px;
        /* transform: translate(0, 0); */
        transition: all 500ms linear;
    }

    #nav.active{
        transform: translateY(-656px);
    }

    #menu-right.active{
        width: 90%;
    }

    #menu-left.active{
        width: 10%;
    }

    .sobre-h2-55{
        font-size: 39pt;
    }

    .sobre-p{
        width: 450px;
    }

    .sobre-p-white{
        width: 480px;
    }

    .modelo-negocios-div{
        width: 100%;
    }

    .modelo-negocios-img{
        top:533px
    }

    .col-md-6{
        flex:0 0 100%;
        max-width: 100%;
    }

    .parceiros-img{
        width: 230px;
    }

    .container-parceiros .row{
        width: 770px;
    }
}


/* iPhone X */
@media (max-width: 375px){
    h1{
        height: 50px;
    }
    
    
    #nav{
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 45px;
        /* transform: translate(0, 0); */
        transition: all 500ms linear;
    }

    #nav.active{
        transform: translateY(0);
    }

    #div-logo{
        height: 50px;
        top: 250px;
        left: 24%;
    }

    #menu-right {
        right: 0;
        margin-left: 2%;
        width: 38%;
        height: 60px;
        border-radius: 100px 0px 0px 100px;
        transition: all 500ms linear;
    }

    #menu-right.active{
        width: 38%;
        height: 330px;
        border-radius: 20px 0 0 20px;
    }

    #menu-left {
        left: 0;
        width: 60%;
        height: 60px;
        border-radius: 0px 100px 100px 0px;
        transition: all 500ms linear;
    }

    #menu-left.active{
        width: 60%;
    }

    #nav.active{
        transform: translateY(-400px);
    }

    .item{
        height: 40px;
    }

    #ul-menu.active{
        margin-top: 40px;
        position: fixed;
        margin-left: 48%;
        display: grid;
    }


    #span-logo-left{
        font-size: 50px;
        margin-right: 4px;
    }

    #span-logo-right{
        font-size: 50px;
        margin-left: 4px;
    }

    .sobre-text{
        position: fixed;
        bottom: 0;
        height: 70vh;
    }

    .sobre-div-text{
        margin-top:10px;
        width: 800px;
    }

    .sobre-h1{
        font-size: 36pt;
    }

    .sobre-h2{
        font-size: 32pt;
    }

    .sobre-h2-55{
        font-size: 28pt;
    }

    .sobre-p{
        width: 350px;
    }

    .sobre-p-white{
        font-size:9pt;
        width: 350px;
    }

    .modelo-negocios-div{
        margin-top: 10px;
        margin-left: 4px;
    }

    .modelo-negocios-img{
        position: fixed;
        width:230px;
        top:574px;
    }

    .modelo-negocios-h1{
        font-size: 20pt;
        margin-top: 115px;
        height: 21px;
    }

    .img-plus{
        width: 50px;
    }

    .modelo-negocios-h2{
        font-size: 30pt;
        margin-top: 2px;
        text-align:center;
    }

    .col-md-2{
        text-align: center;
    }

    .modelo-negocios-h2-2{
        font-size: 20pt;
        text-align: center;
    }

    .modelo-negocios-h2-2 img{
        width: 50px;
    }

    .modelo-negocios-h2-3{
        font-size: 17pt;
    }

    .container-parceiros h1{
        font-size: 20pt;
        text-align: center;
        width: 353px;
    }

    .container-parceiros .row{
        width: 358px;
    }

    .container-parceiros .col-sm-6{
        width: 50%;
    }

    .parceiros-p {
        font-size: 10pt;
        text-align: center;
    }

    .parceiros-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
    }
 
}

/* iPhone 6/7/8 Plus */
@media (max-width: 414px){
    h1{
        height: 50px;
    }
    
    
    #nav{
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 45px;
        /* transform: translate(0, 0); */
        transition: all 500ms linear;
    }

    #nav.active{
        transform: translateY(0);
    }

    .item{
        height: 40px;
    }

    #ul-menu.active{
        margin-top: 40px;
        position: fixed;
        margin-left: 48%;
        display: grid;
    }

    #div-logo{
        height: 50px;
        top: 250px;
        left: 24%;
    }

    #menu-right {
        right: 0;
        margin-left: 2%;
        width: 38%;
        height: 60px;
        border-radius: 100px 0px 0px 100px;
        transition: all 500ms linear;
    }

    #menu-right.active{
        width: 38%;
        height: 330px;
        border-radius: 20px 0 0 20px;
    }

    #menu-left {
        left: 0;
        width: 60%;
        height: 60px;
        border-radius: 0px 100px 100px 0px;
        transition: all 500ms linear;
    }

    #menu-left.active{
        width: 60%;
    }

    #nav.active{
        transform: translateY(-360px);
    }
    
    #span-logo-left{
        font-size: 50px;
        margin-right: 4px;
    }

    #span-logo-right{
        font-size: 50px;
        margin-left: 4px;
    }

    .sobre-text{
        position: fixed;
        bottom: 0;
        height: 70vh;
    }

    .sobre-div-text{
        margin-top:10px;
        width: 800px;
    }

    .sobre-h1{
        font-size: 36pt;
    }

    .sobre-h2{
        font-size: 32pt;
    }

    .sobre-h2-55{
        font-size: 28pt;
    }

    .sobre-p{
        font-size: 12pt;
        width: 350px;
    }

    .sobre-p-white{
        font-size:9pt;
        width: 350px;
    }

    .modelo-negocios-div{
        margin-top: 10px;
        margin-left: 4px;
    }

    .modelo-negocios-img{
        position: fixed;
        width:230px;
        top:574px;
    }

    .modelo-negocios-h1{
        font-size: 20pt;
        margin-top: 115px;
        height: 21px;
    }

    .img-plus{
        width: 50px;
    }

    .modelo-negocios-h2{
        font-size: 30pt;
        margin-top: 2px;
        text-align:center;
    }

    .col-md-2{
        text-align: center;
    }

    .modelo-negocios-h2-2{
        font-size: 20pt;
        text-align: center;
    }

    .modelo-negocios-h2-2 img{
        width: 50px;
    }

    .modelo-negocios-h2-3{
        font-size: 17pt;
    }

    .container-parceiros h1{
        font-size: 20pt;
        text-align: center;
        width: 353px;
    }

    .container-parceiros .row{
        width: 420px;
    }

    .container-parceiros .col-sm-6{
        width: 50%;
    }

    .parceiros-p {
        font-size: 10pt;
        text-align: center;
    }

    .parceiros-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
    }

}
